html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 1140px;
  margin: auto;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #fd7200;
}

.btn-cart {
  border: 1px solid #fff;
  background: transparent;
  margin-right: 30px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 16px;
  transition: all .2s ease-in-out;
}

.btn-cart:hover {
  background: #fff;
  color: #fd7200;
  cursor: pointer;
}

.products {
  margin-top: 10px;
  padding-bottom: 50px;
}

.product-item {
  position: relative;
  width: 100%;
  height: 220px;
  border-top: 1px solid #dfdfe1;
  transition: all .2s ease-in-out;
}

.product-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

h3 {
  text-align: center;
}

img {
  width: 200px;
  vertical-align: top;
}

p {
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: bold;
}

.by-btn {
  position: absolute;
  right: 5%;
  top: 65%;
  border: 1px solid #fd7200;
  background: transparent;
  padding: 7px 15px;
  border-radius: 25px;
  font-size: 16px;
  color: #fd7200;
  transition: all .2s ease-in-out;
}

.by-btn:hover {
  background: #fd7200;
  color: #fff;
  cursor: pointer;
}